<div class="container-fluid">
  <!-- SEARCH AND ADD BUTTON -->
  <div class="row">
    <div class="col-md-5 mr-auto">
      <form class="form-inline my-2 my-lg-0 form-search">
        <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" [value]="searchContent" [formControl]="searchContentControl">
        <button class="icon"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="col-md-2 ml-auto">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-add" (click)="addRecipe()">Add Recipe</button>
      </div>
    </div>
  </div>

  <!-- LIST OF RECIPE -->
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-wrap py-4" id="main">
        <div *ngFor="let recipe of recipeList; let i = index">
          <div class="card m-2" style="width: 350px;" *ngIf="recipe">

            <img class="card-img-top" *ngIf="recipe && recipe.recipeImages && recipe.recipeImages.length > 0" [src]="recipe.recipeImages[0]"
              alt="Card image cap" (load)="isLoadingImageFn(i)" width="100%" height="200px" style="position: relative; object-fit: cover;">

            <img class="card-img-top" src="/assets/img/spinner.svg" *ngIf="recipe && recipe.isLoadingImage" width="100%"
              height="200px" style="position: absolute;">

            <div class="card-body">
              <h5 class="card-title" (click)="clickRecipeName(recipe.id)">{{recipe.recipeName}}</h5>
              <p class="card-text" style="overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
                {{recipe.recipeSubtitle}}
              </p>
              <div class="d-flex justify-content-center">
                <button href="#" class="btn btn-primary flex-fill btn-edit mx-1" (click)="editRecipe(recipe.id)">EDIT</button>
                <button href="#" class="btn btn-danger flex-fill btn-remove mr-1" (click)="confirmDeleteModal(i)"><i
                    class="fa fa-trash icon-remove"></i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGINATION -->
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12">
      <!-- <button (click)="prevPage()" [disabled]="!prevKeys?.length">Prev</button>
        <button (click)="nextPage()" [disabled]="!nextKey">Next</button> -->
      <div style="text-align: center;">
        <button class="btn btn-primary mx-1 text-center" (click)="prevPage()" [disabled]="!prevKeys?.length"><i class="fa fa-arrow-circle-left"></i>
          Prev</button>
        <button class="btn btn-warning mx-1 text-center" (click)="nextPage()" [disabled]="!nextKey">Next <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>


</div>